body {
  background: var(--gray800);
}
main {
  width: 100%;
  min-height: 50rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: wrap;
}
.main-panel {
  background: var(--gray800);
  color: var(--gray200);
  height: 100%;
  min-height: 50rem;
  width: 60%;
  padding: 1rem;
  font-size: 1.2rem;
}
